# Ignore bundler config
/.bundle
# Ignore the default SQLite database.
/db/*.sqlite3
30 Chapter 1: From Zero to Deploy
# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
# Ignore other unneeded files.
doc/
*.swp
*˜
.project
.DS Store
